<?xml version="1.0"?>
<!--
 Copyright (c) Vaimo Group. All rights reserved.
 See LICENSE_VAIMO.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="vaimo_intentpredictor_score_updated">
        <observer name="vaimo_intentpredictor_observer" instance="Vaimo\IntentPredictor\Observer\IntentScoreObserver" />
    </event>

</config>
