<?xml version="1.0"?>
<!--
  Copyright © 2025 Ritu Sinha

  This source code is licensed under the MIT license
  that is bundled with this package in the file LICENSE.

  You are free to use, modify, and distribute this software
  in accordance with the terms of the MIT License.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="intentpredictor" translate="label" sortOrder="900" showInDefault="1">
            <label>Intent Predictor</label>
            <tab>sales</tab>
            <resource>SinhaR_IntentPredictor::config</resource>
            <group id="general" translate="label" showInDefault="1">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="threshold_high" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>High Intent Threshold</label>
                    <comment>Default: 100</comment>
                </field>
            </group>
        </section>
    </system>
</config>
